*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;

}

body{
    height: 100vh;
    background-color: black;
    background-image: url('C:/Users/shilp/Downloads/main-qimg-ae11bdfc5d55299440ce0201eaced82e.jpg');
    background-size: cover;
    background-position: center;

}

li
{
    list-style: none;

}

a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;

}

a:hover
{
    color:blueviolet;   
}

header
{
    position: relative;
    padding: 0 2rem;
}

.navbar
{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a
{
    font-size: 1.5rem;
    font-weight: bold;

}

.navbar .links
{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn
{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.action_btn
{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;

}

.action_btn:hover
{
    scale: 0.95;
}

.dropdown_menu
{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    height: 0;
    transition: height 0.2s cubic-bezier(0.175,0.885,0.32,1.275);
}

.dropdown_menu.open 
{
    height: 240px;
}

.dropdown_menu li
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn
{
    width: 100%;
    display: flex;
    justify-content: center;

}

@media(max-width: 992px)
{
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn
    {
        display: block;
    }
    .dropdown_menu
    {
        display: block;
    }
}







